@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
   background-image: linear-gradient(1deg, var(--color-1), #000);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.container{
    width: 80%;
    margin: auto;
    min-height: 100vh;
}

h1{
    text-align: center;
    margin-top: 3rem;
}

.nome_filme{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.filme_img{
    min-width: 300px;
    min-height: 430px;
    background-image: url(../images/card-hobbit.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

.texto_filme{
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 66%;
    gap: 1.5rem;
    /* padding: 1rem; */
}

p{
        font-weight: normal;
        color: #ccc;
        margin-left: 10px;
    }

span{
    font-weight: bold;
}    

.outros_filmes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    gap: 20px;
    
}

.cards_filmes{
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-2);
    cursor: pointer;
    color: aliceblue;
}

.card{
    width: 100%;
    min-height: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
    
    &.card-1{
background-image: url(../images/card-1.webp) ;
background-size: cover;
background-repeat: no-repeat;
}
    &.card-2{
background-image: url(../images/card-2.webp) ;
background-size: cover;
background-repeat: no-repeat;
}
    &.card-3{
background-image: url(../images/card-3.webp) ;
background-size: cover;
background-repeat: no-repeat;
}
    &.card-4{
background-image: url(../images/card-4.webp) ;
background-size: cover;
background-repeat: no-repeat;
}
}
 
h2{
    padding: 0 2rem;
}

@media screen and (max-width: 675px){

    
    .texto_filme{
        display: flex;
    max-width: 330px;
    padding: 1rem;
}
}