@import url(../css/variables.css);
@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    color: rgb(34,34,34);
    font-family: 'Poppins', sans-serif;   
    background-image: linear-gradient(1deg, var(--color-1), #000);   
}

.modal{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

form{
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-weight: 600;
    width: 25rem;
    min-height: 30rem;
    padding: 2rem 1rem;
    border: 2px solid var(--color-border);
    border-radius: 5px;
}

.container-input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dados{
 display: flex;
 max-width: 9.5rem;
 padding: 9px;
 border-radius: 5px;
 border: 2px solid #ccc;
outline: none;
}

.restante{
    display: flex;
    flex-direction: column;
     gap:1rem;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

textarea{
    display: flex;
    width: 20rem;
    min-height: 5rem;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
    resize: none;
    outline: none;
}

button{
font-weight: 600;
 border: none;
 cursor: pointer;

 &.save{
     width: 20rem;
      padding: 10px 0;
      background-color: var(--color-3);
      color: #fff;
      border-radius: 5px;
      

      &:hover{
        background-color: var(--color-2);
        transition: 0.5s;
      }
}

    &.exit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    background-color: transparent;
    width: 1rem;
    color: #0D1438;
    right: 10px;
    top: 0;
    padding: 10px;
    text-align: center;
}

}

button a{
    text-decoration: none;
    color:#000;
}



