@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../css/variables.css);
@import url(../css/reset.css);


body{
    background-image: linear-gradient(1deg, var(--color-1), #000);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 30px;
    font-weight: 500;
}

.pesquisa{
display: flex;
align-items: center;
justify-content: center;
width: 80%;
padding: 10px;
margin-bottom: 1rem;
}

.btn_pesquisa{
    padding: 5px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.novo_filme{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_add{
    cursor: pointer;
     border-radius: 50%;
    width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
}

.btn_add a{
    display: flex;
    align-items: center;
    justify-content: center;
        font-size: 25px;
        text-decoration: none;
        width:100%;
        height: 100%;
color: #fff ;
        border-radius: 50%;
    }

.input_pesquisa{
display: flex;
align-items: center;
margin-right: 20px;
border-right: 1px solid #fff;
padding-right:0.5rem ;
width: 40%;
}

input{
padding:10px;
width: 100%;
 border-radius: 5px;
 border: 2px solid var(--color-border);
 outline: none;
}

.filmes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    min-height: 100vh;
    padding: 1.5rem 0;
    gap: 20px;
   
}

.cards_filmes{
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-2);
    cursor: pointer;
}

.cards_filmes p{
    color: aliceblue;
    margin-left: 10px ;
    line-height: 1.5rem;
}

.card{
    width: 100%;
    min-height: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
    &.card-1{
background-image: url(../images/card-1.jpg) ;
background-size: cover;
}
    &.card-2{
background-image: url(../images/card-2.jpg) ;
background-size: cover;
}
    &.card-3{
background-image: url(../images/card-3.jpg) ;
background-size: cover;
}
    &.card-4{
background-image: url(../images/card-4.jpg) ;
background-size: cover;
}
    &.card-5{
background-image: url(../images/card-5.jpg) ;
background-size: cover;
}
    &.card-6{
background-image: url(../images/card-6.jpg) ;
background-size: cover;
}
    &.card-7    {
background-image: url(../images/card-7.jpg) ;
background-size: cover;
}
    &.card-8{
background-image: url(../images/card-9.webp) ;
background-size: cover;
}
}
@media screen and (min-width: 368px) {

    .input_pesquisa{
     width: 13rem;  
     margin-right: 0; 
    }

    span{
        display: none;
    }

}

@media screen and (min-width: 268px) {

    .input_pesquisa{
     width: 13rem;  
     margin-right: 0; 
    }

    span{
        display: none;
    }

}

